*
!.gitignore
!environment.sh
!Python
Python/*
!Python/make-Python-3.5.2
Python/make-Python-3.5.2/*
!Python/make-Python-3.5.2/*.sh
!Python/make-Python-3.5.2/*.patch
!apache
apache/*
!apache/make-apache-1.3.42
apache/make-apache-1.3.42/*
!apache/make-apache-1.3.42/*.sh
!apache/make-apache-1.3.42/*.patch
!apr
apr/*
!apr/make-apr-1.4.6
apr/make-apr-1.4.6/*
!apr/make-apr-1.4.6/*.sh
!apr/make-apr-1.4.6/*.patch
!apr/make-apr-1.5.2
apr/make-apr-1.5.2/*
!apr/make-apr-1.5.2/*.sh
!apr/make-apr-1.5.2/*.patch
!apr-util
apr-util/*
!apr-util/make-apr-util-1.4.1
apr-util/make-apr-util-1.4.1/*
!apr-util/make-apr-util-1.4.1/*.sh
!apr-util/make-apr-util-1.4.1/*.patch
!apr-util/make-apr-util-1.5.4
apr-util/make-apr-util-1.5.4/*
!apr-util/make-apr-util-1.5.4/*.sh
!apr-util/make-apr-util-1.5.4/*.patch
!bison
bison/*
!bison/make-bison-1.875
bison/make-bison-1.875/*
!bison/make-bison-1.875/*.sh
!bison/make-bison-1.875/*.patch
!flex
flex/*
!flex/make-flex-2.5.4
flex/make-flex-2.5.4/*
!flex/make-flex-2.5.4/*.sh
!flex/make-flex-2.5.4/*.patch
!fontconfig
fontconfig/*
!fontconfig/make-fontconfig-2.12.1
fontconfig/make-fontconfig-2.12.1/*
!fontconfig/make-fontconfig-2.12.1/*.sh
!fontconfig/make-fontconfig-2.12.1/*.patch
!freetype
freetype/*
!freetype/make-freetype-2.6.5
freetype/make-freetype-2.6.5/*
!freetype/make-freetype-2.6.5/*.sh
!freetype/make-freetype-2.6.5/*.patch
!httpd
httpd/*
!httpd/make-httpd-2.0.50
httpd/make-httpd-2.0.50/*
!httpd/make-httpd-2.0.50/*.sh
!httpd/make-httpd-2.0.50/*.patch
!httpd/make-httpd-2.0.55
httpd/make-httpd-2.0.55/*
!httpd/make-httpd-2.0.55/*.sh
!httpd/make-httpd-2.0.55/*.patch
!httpd/make-httpd-2.0.61
httpd/make-httpd-2.0.61/*
!httpd/make-httpd-2.0.61/*.sh
!httpd/make-httpd-2.0.61/*.patch
!httpd/make-httpd-2.4.1
httpd/make-httpd-2.4.1/*
!httpd/make-httpd-2.4.1/*.sh
!httpd/make-httpd-2.4.1/*.patch
!httpd/make-httpd-2.4.10
httpd/make-httpd-2.4.10/*
!httpd/make-httpd-2.4.10/*.sh
!httpd/make-httpd-2.4.10/*.patch
!httpd/make-httpd-2.4.23
httpd/make-httpd-2.4.23/*
!httpd/make-httpd-2.4.23/*.sh
!httpd/make-httpd-2.4.23/*.patch
!libgcrypt
libgcrypt/*
!libgcrypt/make-libgcrypt-1.7.3
libgcrypt/make-libgcrypt-1.7.3/*
!libgcrypt/make-libgcrypt-1.7.3/*.sh
!libgcrypt/make-libgcrypt-1.7.3/*.patch
!libgd
libgd/*
!libgd/make-libgd-2.0.33
libgd/make-libgd-2.0.33/*
!libgd/make-libgd-2.0.33/*.sh
!libgd/make-libgd-2.0.33/*.patch
!libgd/make-libgd-2.1.0
libgd/make-libgd-2.1.0/*
!libgd/make-libgd-2.1.0/*.sh
!libgd/make-libgd-2.1.0/*.patch
!libgd/make-libgd-2.1.1
libgd/make-libgd-2.1.1/*
!libgd/make-libgd-2.1.1/*.sh
!libgd/make-libgd-2.1.1/*.patch
!libgd/make-libgd-2.2.3
libgd/make-libgd-2.2.3/*
!libgd/make-libgd-2.2.3/*.sh
!libgd/make-libgd-2.2.3/*.patch
!libgpg-error
libgpg-error/*
!libgpg-error/make-libgpg-error-1.0
libgpg-error/make-libgpg-error-1.0/*
!libgpg-error/make-libgpg-error-1.0/*.sh
!libgpg-error/make-libgpg-error-1.0/*.patch
!libgpg-error/make-libgpg-error-1.24
libgpg-error/make-libgpg-error-1.24/*
!libgpg-error/make-libgpg-error-1.24/*.sh
!libgpg-error/make-libgpg-error-1.24/*.patch
!libgpg-error/make-libgpg-error-1.6
libgpg-error/make-libgpg-error-1.6/*
!libgpg-error/make-libgpg-error-1.6/*.sh
!libgpg-error/make-libgpg-error-1.6/*.patch
!libpng
libpng/*
!libpng/make-libpng-1.2.6
libpng/make-libpng-1.2.6/*
!libpng/make-libpng-1.2.6/*.sh
!libpng/make-libpng-1.2.6/*.patch
!libpng/make-libpng-1.6.24
libpng/make-libpng-1.6.24/*
!libpng/make-libpng-1.6.24/*.sh
!libpng/make-libpng-1.6.24/*.patch
!libxml2
libxml2/*
!libxml2/make-libxml2-2.5.8
libxml2/make-libxml2-2.5.8/*
!libxml2/make-libxml2-2.5.8/*.sh
!libxml2/make-libxml2-2.5.8/*.patch
!libxml2/make-libxml2-2.5.10
libxml2/make-libxml2-2.5.10/*
!libxml2/make-libxml2-2.5.10/*.sh
!libxml2/make-libxml2-2.5.10/*.patch
!libxml2/make-libxml2-2.6.20
libxml2/make-libxml2-2.6.20/*
!libxml2/make-libxml2-2.6.20/*.sh
!libxml2/make-libxml2-2.6.20/*.patch
!libxml2/make-libxml2-2.7.1
libxml2/make-libxml2-2.7.1/*
!libxml2/make-libxml2-2.7.1/*.sh
!libxml2/make-libxml2-2.7.1/*.patch
!libxml2/make-libxml2-2.8.0
libxml2/make-libxml2-2.8.0/*
!libxml2/make-libxml2-2.8.0/*.sh
!libxml2/make-libxml2-2.8.0/*.patch
!libxml2/make-libxml2-2.9.4
libxml2/make-libxml2-2.9.4/*
!libxml2/make-libxml2-2.9.4/*.sh
!libxml2/make-libxml2-2.9.4/*.patch

